/* Cornered card indicators */
.cardIndicators, .listItemIndicators {
  right: -1px !important;
  top: -1px !important;
}
.innerCardFooter {
  border-radius: 0px 8px !important;
  box-shadow: -2px 1px 4px 0 rgb(0 0 0 / .8) !important;
}
.countIndicator, .playedIndicator {
  border-radius: 0px var(--rounded-cards) !important;
  box-shadow: -2px 1px 4px 0 rgb(0 0 0 / .8) !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
}

.mediaSourceIndicator {
  left: 0 !important;
  top: 0 !important;
  border-radius: 8px 0px !important;
  box-shadow: -2px 1px 4px 0 rgb(0 0 0 / .8);
  background: -2px 1px 4px 0 rgb(0 0 0 / .8)
}