/* For some reason, Tomato ratings keep getting removed for me, added this to hide them so that N/A doesnt keep showing up in Media Bar */
.tomato-rating {
    display: none !important;
}

/* I don't like or use favourites bar, this hides the entire bar */
.headerTabs.sectionTabs {
    display: none !important;
}

/* Make device cards and media library cards smaller for compact layout */
/* #devicesPage .cardScalable, #mediaLibraryPage .cardScalable {
    height: 10vh;
} */


/* Testing */
/* Change colors for options dropdown */
/*.emby-select option {
  background-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.2);
  color: var(--text-color);
} */

/* Selected option */
/* .emby-select option:checked {
  background-color: rgb(var(--primary-r), var(--primary-g), var(--primary-b));
} */
